html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

#navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 142rem;
  margin: 0 auto;
  padding: 2rem 3rem;
}

#logo-img {
  width: 16rem;
}

#nav-links {
  display: flex;
  gap: 5rem;
  align-items: center;
}

#nav-links a {
  font-size: 1.6rem;
  text-decoration: none;
  list-style: none;
  color: black;
  font-weight: lighter;
}

#nav-links a:hover {
  background-color: aliceblue;
}

#nav-links a:last-child {
  background-color: #5ec576;
  border-radius: 3rem;
  padding: 1rem 3rem;
  font-weight: 400;
  transition: 0.4s ease;
}

#nav-links a:last-child:hover {
  background-color: #54b76b;
}
